
{{#partial "content"}}
    <p>
        Heroes:<div> {{name}} </div>
               <div> {{age}} </div>
              <div>  {{power}} </div>
              <div>  {{weakness}} </div>

    <div><a href ="/squad">Add hero to a squad</a></div>
    </p>

    <p>
    Groups:<div> {{hero}} </div>
          <div> {{group}} </div>

    </p>


{{/partial}}



{{>layout.hbs}}