
{{#partial "content"}}
    <p>
   Heroes: {{name}}
           {{age}}
           {{power}}</p>

    <p>
   Hero Squad:{{}}
        {{ name }}
        {{ group }}
        {
    </p>
{{/partial}}



{{>layout.hbs}}