
{{#partial "content"}}
    <p>
        Heroes:<div> {{name}} </div>
               <div> {{age}} </div>
              <div>  {{power}} </div>
    </p>

    <p>
    Groups:<div> {{hero}} </div>
          <div> {{group}} </div>

    </p>


{{/partial}}



{{>layout.hbs}}